/*************************
LOGIN FORM SECTION
**************************/
.form {
  border: .12em dashed #888;
  padding: 2em 1.5em;
}

.form--main {
  width: 90%;
  max-width: 640px;
  margin: 8em auto 3em;
  background-color: var(--color-white);
  font-family: inherit;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  padding: .45em;
}

.form legend {
  display: block;
  text-align: center;
  margin-bottom: 2em;
  font-size: 1.3em;
  text-transform: uppercase;
  font-family: 'Nunito',sans-serif;
  font-weight: 700;
  color: var(--general-color);
  letter-spacing: .1em;
  position: relative;
}

.form legend::after, .form legend::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 30%;
  height: .2em;
  border-radius: 50%;
}

.form legend::after {
  right: 0;
  left: 60%;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(30%, var(--grad-color-1)), color-stop(50%, var(--grad-color-2)), to(var(--grad-color-3)));
  background-image: linear-gradient(to top right, var(--grad-color-1) 30%, var(--grad-color-2) 50%, var(--grad-color-3));
}

.form legend::before {
  left: 10%;
  background-image: -webkit-gradient(linear, right bottom, left top, color-stop(30%, var(--grad-color-1)), color-stop(50%, var(--grad-color-2)), to(var(--grad-color-3)));
  background-image: linear-gradient(to top left, var(--grad-color-1) 30%, var(--grad-color-2) 50%, var(--grad-color-3));
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1em;
}

.form__group label {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--label-color);
  line-height: 1.35;
  letter-spacing: .05em;
}

.form__group input {
  width: 100%;
  padding: .6em .7em;
  font-family: 'Roboto',sans-serif;
  letter-spacing: .75px;
  font-size: 1em;
  font-weight: 400;
  background-color: var(--input-color);
  border-radius: .25em;
  border: none;
  border: 0.1em solid var(--input-color);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  outline: none;
}

.form__group input:focus {
  border-color: var(--input-border-color);
}

.form__group span {
  font-family: 'Poppins',sans-serif;
  font-size: .7em;
  font-weight: 600;
  letter-spacing: .02em;
  color: #ce2727;
}

.form__remember__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .8em;
}

.form__remember__group label {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--label-color);
  line-height: 1.35;
  margin-left: .6em;
  letter-spacing: .05em;
}

.form__submit__group {
  margin-bottom: 1em;
}

.form__submit__group input[type="submit"] {
  margin-top: 1em;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--btn-color-1)), to(var(--btn-color-2)));
  background-image: linear-gradient(to top, var(--btn-color-1), var(--btn-color-2));
  color: var(--color-white);
  width: 100%;
  padding: .75em;
  font-weight: 500;
  font-family: 'Poppins',sans-serif;
  border: none;
  font-size: 1em;
  letter-spacing: .05em;
  -webkit-box-shadow: 0 0 4px var(--btn-shadow-color);
          box-shadow: 0 0 4px var(--btn-shadow-color);
  position: relative;
  border-radius: .35em;
}

.form__submit__group input[type="submit"]:hover, .form__submit__group input[type="submit"]:focus {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--btn-hover-color-1)), to(var(--btn-hover-color-2)));
  background-image: linear-gradient(to top, var(--btn-hover-color-1), var(--btn-hover-color-2));
}

.password__field {
  position: relative;
  width: 100%;
}

.password__field i {
  position: absolute;
  right: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--label-color);
  cursor: pointer;
}

.register__link__section,
.forgot__password {
  margin-top: .2em;
  font-family: 'Nunito',sans-serif;
  font-size: 1.15em;
}

.register__link,
.forgot__password {
  text-decoration: none;
  color: var(--general-color);
  font-weight: 700;
  display: inline-block;
}

.register__link:hover, .register__link:focus,
.forgot__password:hover,
.forgot__password:focus {
  -webkit-text-decoration: .12em underline currentColor;
          text-decoration: .12em underline currentColor;
  text-underline-offset: .15em;
}
