{% extends 'others/layout.html' %}
{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.min.css')}}">
{% endblock stylesheet %}

{% block body %}

<!--_____________________Homepage when user has logged in_________________________-->
{% if current_user.is_authenticated %}
<main class="home__logged--main">

    <div class="home__logged__heading__container">
        <h1>CONTACT US</h1>
        <p>This is a customer support of Team Sakha. You can either call or send email 
            to our team and they will reach out as soon as possible.
        </p>
    </div>


</main>
<!-- ______________________________________________ -->

<!--_____________________Homepage when user has not logged in_________________________-->
{% else %}
<main class="home--general--main">

    <div class="home__svg__container">
        <img src="{{url_for('static',filename='site-images/home-svg.svg')}}" class="home__svg">
    </div>

    <div class="home__content__container">
        <h1>Welcome Folk</h1>
        <p>
            Sakha is a social network application which provides a completely new & unique experience about a social application.
            You can checkout more about the application in <a href="{{url_for('about_us')}}" title="About Us">about us</a> section.
        </p>
        <a href="{{url_for('login')}}" class="login__link">
            <span>Get Started</span>
            <i class="fas fa-angle-double-right"></i>
        </a>
    </div>
</main>
<!-- _____________________________________________________ -->
{% endif %}
{% endblock %}