@mixin flex($just,$align,$dir:row) {
    display:flex;
    justify-content:$just;
    align-items:$align;
    flex-direction:$dir;
}

/***************************
HOMEPAGE WHEN USER IS NOT LOGGED IN
***************************/
.home {
    &--general--main {
        margin-top:4.6em;
        background-color:var(--home-logged-bg);
        width:100%;
        display:grid;
        grid-template-columns:1fr;
        padding:0 1.5em 3em;
    }
    &__svg__container {
        width:100%;

        img {
            display:block;
            width:100%;
        }
    }
    &__content__container {
        @include flex(center,center,column);
        font-family:'Poppins',sans-serif;
        
        h1 {
            font-family: 'Nunito', cursive;
            align-self:flex-start;
            margin-bottom:.35em;
            letter-spacing:.06em;
            text-transform:uppercase;
            font-size:2.3em;
            color:var(--h1-color);
        }
        p {
            color:var(--nav-heading-color);
            font-size:1em;

            a {
                display:inline-block;
                color:var(--general-color);
                text-decoration:none;
                font-weight:600;

                &:hover,
                &:focus {
                    text-decoration:2px underline currentColor;
                    text-underline-offset:.15em;
                }
            }
        }
    }
}
.login__link {
    align-self:flex-start;
    @include flex(center,center);
    padding:.75em 1.5em .75em 2.5em;
    text-decoration:none;
    background-image:linear-gradient(to top, var(--btn-color-1), var(--btn-color-2));
    margin-top:2em;
    text-transform:uppercase;
    color:var(--color-white);
    border-radius:.25em;
    box-shadow:0 0 4px var(--btn-shadow-color);

    i {
        margin-left:1em;
    }
    &:hover,
    &:focus {
        --btn-color-1:var(--btn-hover-color-1);
        --btn-color-2:var(--btn-hover-color-2);
    }
}



/******************************
HOMEPAGE WHEN USER IS LOGGED IN
*******************************/
.home__logged {
    &--main {
        width:100%;  
        margin-top:4.6em;
        padding:3em 2em 1.5em;   
        font-family:'Poppins',sans-serif;
    }

    &__posts__container {
        max-width:540px;
        margin:0 auto 2em;
        display:grid;
        grid-template-columns:1fr;
        grid-row-gap:2em;

        article {
            width:100%;
            background-color:var(--color-white);
            box-shadow:0 0 15px rgba(0,0,0,.15);
            border-radius:.5em;
            display:grid;
            grid-template-columns:1fr;

            &:hover{
                box-shadow:0 0 20px rgba(0,0,0,.35);
            }
        }
    }
}



.post {
    &__header {
        @include flex(space-between, flex-start);
        padding:1em;
    }

/***************************
POST AUTHOR RELATED STYLING
***************************/    
    &__author__container {
        @include flex(flex-start,flex-start);
    }
    &__author__img__wrapper {

        a {
            text-decoration:none;
            display:block;
            margin-right: .5em;
            width:3em;
            height:3em;
            border-radius:50%;
        }
        img {
            width:100%;
            height:100%;
            object-fit:cover;
            display:block;
            border-radius:50%;
            border:2px solid var(--general-color);
        }
    }
    &__author__name__container {
        div {
            @include flex(flex-start,flex-start);
            a {
                text-decoration:none;
                display:block;
            }
        }
        .author__name {
            font-size:.9em;
            color:var(--h1-color);
            line-height:1.3;
        
            &:hover,
            &:focus {
                opacity:.65;
            }
        }
        .current__user {
            margin-left:1.5em;
            padding:.15em .8em;
            border-radius:.75em;
            text-align:center;
            color:var(--color-white);
            font-size:.75em;
            letter-spacing:.03em;
            background-color:rgb(54, 179, 54);
        }
        span {
            line-height:1.2;
            font-size:.7em;
            display:block;
            color:rgb(73, 76, 89);
            font-family:'Ubuntu',sans-serif;
        }
    }

/****************************
POST BUTTONS RELATED STYLING
*****************************/
    &__related__btn__links__container {
        position:relative;

        .sideNavShowBtn,
        .sideNavHideBtn {
            background:transparent;
            border:none;
            cursor:pointer;

            i {
                padding:.15em;
            }
        }
        
        div {
            @include flex(center, flex-start,column);
            position:absolute;
            top:-1em;
            right:-1em;
            width:8em;
            background-color:rgb(243, 236, 255);
            padding:2em .75em 1em;
            clip-path:polygon(var(--x, 100%) 0,100% 0,100% 100%,var(--x,100%) 100%);
            transition:clip-path 200ms ease-in-out;
    
            a {
                font-size:.9em;
                text-decoration:none;
                display:block;
                color:var(--general-color);

                i {
                    margin-right:.2em;
                }

                &:hover,
                &:focus {
                    opacity:.7;
                    cursor:pointer;
                }
            }

            > a  {
                margin-bottom:.25em;
            }

            .sideNavHideBtn {
                position:absolute;
                top:.75em;
                right:1em;
            }
        }
    }
}

.show__post__sidenav {
    --x:0;
}

/***************************
POST ASSETS
***************************/
.post {
    &__content__container {
        padding:0 1em;

        a {
            text-decoration:none;
            display:block;
            color:var(--label-color);
            font-family:'Noto Sans',sans-serif;
            line-height:1.5;
            font-size:1.1em;
            margin-bottom:.5em;
        }
    }
    &__image__container {

        a {
            text-decoration:none;
            width:100%;
            display:block;
        }
        img {
            width:100%;
            display:block;
        }
    }
}

/************************
LIKE AND COMMENT BTNS
*************************/
.post__footer {
    border-top:1px solid var(--input-border-color);
    padding:.25em;
    @include flex(space-around, center);
}
.heart__btn,
.comment__btn {
    text-decoration:none;
    display:block;
    color:rgb(63, 61, 79);
    border:none;
    background-color:transparent;
    font-size:1.5em;
    cursor:pointer;

    span {
        font-size:.85em;
        font-family:'Noto Sans',sans-serif;
    }
}

.heart__btn__active {
    color:var(--grad-color-1);
}




/*************************
MEDIA QUERIES
**************************/
@media (min-width:769px) {
    .home--general--main {
        grid-template-columns:repeat(2,1fr);
        padding:0 2em 1.5em;
    }
} 
















/**************************
Overlay Container
**************************/
// .overlay {
//     &__container {
//         z-index:100;
//         position:fixed;
//         width:100%;
//         height:100vh;
//         top:0;
//         left:0;
//         @include flex(center,center, column);
//     }
//     &__content {
//         z-index:2;
//         width:90%;
//         max-width:320px;
//         margin:0 auto;
//         background-color:var(--color-white);
//         padding:1.5em 1em;
//         border-radius:.6em;
//         box-shadow:0 0 20px rgba(0,0,0,.5);
//         font-family:'Poppins',sans-serif;
//         font-weight:500;

//         p {
//             margin-bottom:1.5em;
//             font-size:1em;
//         }
//         .btn {
//             font-family:inherit;
//             font-weight:inherit;
//             font-size:1em;
//             border-radius:.4em;
//             padding:.5em .75em;
//             color:var(--color-white);
//             box-shadow:0 0 3px rgba(0,0,0,.6);
//             transition:transform 200ms, box-shadow 200ms;

//             &:hover,
//             &:focus {
//                 box-shadow:6px 6px 10px rgba(0,0,0,.5);
//                 transform:translateY(-3px);
//                 cursor:pointer;
//             }
//             &:active {
//                 box-shadow:5px 5px 7px rgba(0,0,0,.5);
//                 transform:translateY(-1px);
//             }
//         }
//         .cancel__btn {
//             border:none;
//             background-image:linear-gradient(to bottom right,rgb(128, 13, 242), hsl(240deg, 100%, 60%));
//         }
//         .delete__btn {
//             text-decoration:none;
//             display:inline-block;
//             background-image:linear-gradient(to top right, hsl(10deg, 90%, 50%), hsl(0deg, 100%, 60%));
//             margin-right:.75em;
//         }
//     }

//     &__bg {
//         position:absolute;
//         inset:0;
//         background-color:rgba(36, 31, 44, 0.57);
//     }
// }

   