@mixin flex($just,$align,$dir:row) {
    display:flex;
    justify-content:$just;
    align-items:$align;
    flex-direction:$dir;
}

/************************
PROFILE SUB SECTION 2
*************************/
.profile {
    &--main--container {
        width:100%;
        max-width:840px;
        margin:0 auto;
        background-color:var(--home-logged-bg);
        font-family:'Poppins',sans-serif;
    }

    &__sub__container__one {
        @include flex(flex-start,center,column);
    }

    &__header__img__container {
        width:100%;
        height:20em;

        img {
            width:100%;
            height:100%;
            display:block;
            object-fit:cover;
        }
    }
    &__avatar__img__container {
        position:relative;

        .avatar__container {
            text-align:Center;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);

            h2 {
                font-family:'Nunito',sans-serif;
                color:var(--h1-color);
                line-height:1.1;
            }
            p {
                color:var(--general-color);
                padding-bottom:1em;
            }
        }
    } 
}

.avatar__container div {
    height:11em;
    width:11em;
    border-radius:50%;
    border:5px solid var(--color-white);
    background-color:var(--color-white);
    box-shadow:0 0 6px rgba(0,0,0,.3);

    img {
        width:100%;
        height:100%;
        display:block;
        object-fit:cover;
        border-radius:50%;
    }
}


/***************************
PROFILE SUB CONTAINER TWO
***************************/
.profile__sub__container__two {
    margin-top:7em;
    display:grid;
    grid-template-columns:auto max-content;
    align-items:flex-start;
    gap:2em;
    padding:3em 1.5em;
    background-color:var(--color-white);
    color:var(--profile-para-color);

    > div:not(.follow__btn__container) {
        display:grid;
        grid-template-columns:1fr;
        gap:.65em 0;

        i {
            margin-right:.5em;
        }
    }
}



.follow__btn__container {
    justify-self:flex-end;
    
   button {
        background-color:var(--h1-color);
        padding:.3em .6em;
        border-radius:.6em;
        display:block;
        color:var(--color-white);
        box-shadow: 0 0 4px rgba(0,0,0,.5);
        font-size:.9em;
        border:none;
        font-family:inherit;
        font-weight:500;
   
        &:hover,
        &:focus {
            opacity:.75;
            cursor:pointer;
        }
   }
}



.follow__details__container {
    @include flex(flex-start,flex-start);

    .followers__btn {
        margin-right:1em;
    }
    a {
        color:var(--h1-color);
        text-decoration:none;
        font-family:'Poppins',sans-serif;
        display:block;
        font-weight:700;
        font-size:1em;

        &:hover,
        &:focus {
            opacity:.7;
            cursor:pointer;
        }
    }
}

/**************************
PROFILE USER POSTS SECTION
*************************/
.profile__user__posts {
    &__container {
        padding:2em 0;
    }

    max-width:540px;
    width:93%;
    margin:0 auto;
    display:grid;
    grid-template-columns:1fr;
    grid-row-gap:2em;

    article {
        width:100%;
        background-color:var(--color-white);
        box-shadow:0 0 15px rgba(0,0,0,.15);
        border-radius:.5em;
        display:grid;
        grid-template-columns:1fr;

        &:hover{
            box-shadow:0 0 20px rgba(0,0,0,.35);
        }
    }
}


.post {
    &__header {
        @include flex(space-between, flex-start);
        padding:1em;
    }
/***************************
POST AUTHOR RELATED STYLING
***************************/    
    &__author__container {
        @include flex(flex-start,flex-start);
    }
    &__author__img__wrapper {
        width:3em;
        height:3em;
        border-radius:50%;
        margin-right:.6em;

        img {
            width:100%;
            height:100%;
            object-fit:cover;
            display:block;
            border-radius:50%;
            border:2px solid var(--general-color);
        }
    }
    &__author__name__container {
        div {
            @include flex(flex-start,flex-start);
        }
        .author__name {
            font-size:.9em;
            color:var(--h1-color);
            line-height:1.3;
        }
        span {
            line-height:1.2;
            font-size:.85em;
            display:block;
            color:rgb(73, 76, 89);
            font-family:'Ubuntu',sans-serif;
        }
    }
}

/***************************
POST ASSETS
***************************/
.post {
    &__content__container {
        padding:0 1em;

        a {
            text-decoration:none;
            display:block;
            color:var(--label-color);
            font-family:'Noto Sans',sans-serif;
            line-height:1.5;
            font-size:1em;
            margin-bottom:.5em;
        }
    }
    &__image__container {

    a {
        text-decoration:none;
        display:block;
    }
    img {
        width:100%;
        display:block; 
        }
    }
}

/************************
LIKE AND COMMENT BTNS
*************************/
.post__footer {
    border-top:1px solid var(--input-border-color);
    padding:.5em;
    @include flex(space-around, center);
}
.heart__btn,
.comment__btn {
    text-decoration:none;
    display:block;
    color:rgb(63, 61, 79);
    border:none;
    background-color:transparent;
    font-size:1.5em;
    cursor:pointer;

    span {
        font-size:.85em;
        font-family:'Noto Sans',sans-serif;
    }
}

.heart__btn__active {
    color:var(--grad-color-1);
}

/**************************
MINOR STYLING FOR PAGINATION
**************************/
.pagination__section {
    padding:0 1em 2em 0;
    max-width:840px;
}