html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #330055;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M583.405%2c475.586C603.264%2c475.137%2c622.833%2c467.613%2c633.067%2c450.588C643.597%2c433.072%2c642.563%2c411.351%2c632.82%2c393.386C622.568%2c374.483%2c604.907%2c358.749%2c583.405%2c359.019C562.257%2c359.284%2c546.593%2c376.24%2c536.092%2c394.599C525.684%2c412.796%2c519.119%2c434.825%2c529.693%2c452.926C540.199%2c470.909%2c562.583%2c476.057%2c583.405%2c475.586' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1137.7580907822983 379.48265019665604L1078.5795323209682 467.2184711442733 1166.3153532685856 526.3970296056034 1225.4939117299155 438.6612086579861z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1347.2705753543908 280.2167255987323L1410.1271019688566 221.6020662685295 1351.5124426386537 158.7455396540638 1288.655916024188 217.3601989842666z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M376.6617847142575 215.4363058684307L291.0090765157514 187.60605393904635 292.09005272092793 330.00024220149766z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M380.088%2c701.783C428.351%2c703.362%2c471.566%2c675.662%2c497.593%2c634.987C526.084%2c590.461%2c541.191%2c535.117%2c516.71%2c488.267C490.668%2c438.429%2c436.204%2c406.511%2c380.088%2c410.115C328.711%2c413.414%2c293.174%2c457.683%2c270.816%2c504.058C251.619%2c543.877%2c253.802%2c589.023%2c275.184%2c627.713C297.376%2c667.869%2c334.233%2c700.283%2c380.088%2c701.783' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1122.719%2c587.277C1145.887%2c587.748%2c1167.042%2c574.686%2c1178.828%2c554.734C1190.828%2c534.42%2c1191.292%2c509.928%2c1180.935%2c488.728C1169.018%2c464.333%2c1149.856%2c440.737%2c1122.719%2c439.881C1094.512%2c438.991%2c1069.658%2c459.247%2c1057.775%2c484.844C1047.416%2c507.158%2c1057.251%2c531.755%2c1070.424%2c552.532C1082.435%2c571.476%2c1100.293%2c586.822%2c1122.719%2c587.277' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  background-size: contain;
  font: 400 1em/1.6 "Roboto", sans-serif;
  position: relative;
}

/**********************
Application Header
*********************/
.header--section {
  background-color: white;
  padding: .8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
}

.header--fixed {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 100;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
}

.logo__link p {
  font-weight: 700;
  font-family: "Lora", sans-serif;
  font-style: italic;
  color: #002333;
  font-size: 1.2em;
  margin-left: .5em;
}

.logo__link p span {
  color: orangered;
}

.logo__image {
  height: 3em;
  display: block;
  margin-left: .5em;
  -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.75));
          filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.75));
}

/*********
Navigation when user is not logged in
*********/
.navigation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigation__link {
  display: inline-block;
  text-decoration: none;
  color: #7849e7;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.navigation__link:hover, .navigation__link:focus {
  opacity: .65;
}

.navigation__home__link {
  padding: .25em .4em;
  margin-right: .25em;
}

.navigation__user__wrapper {
  padding: 0 .55em;
  border-right: 0.15em solid #5f5e63;
  border-left: 0.15em solid #5b5a60;
}

.navigation__user__link {
  padding: .25em .3em;
}

.navigation__user__link:first-child {
  margin-right: .25em;
}

.navigation__about__btn {
  padding: .25em;
  margin-left: .75em;
  background-color: transparent;
  border: none;
  font-size: 1em;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #7849e7;
}

.navigation__about__btn span {
  text-transform: uppercase;
  margin-right: .25em;
}

.navigation__about__btn:hover {
  opacity: .75;
  cursor: pointer;
}

.navigation__application__stuffs {
  top: 4.6em;
  right: 0;
  position: fixed;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 1.5em;
  border-top: 0.15em solid #62666b;
  border-bottom-left-radius: .25em;
  border-bottom-right-radius: .25em;
  -webkit-box-shadow: -8px 8px 15px rgba(0, 0, 0, 0.25);
          box-shadow: -8px 8px 15px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateX(20em);
          transform: translateX(20em);
  opacity: 0;
  -webkit-transition: opacity 500ms ease,-webkit-transform 400ms ease-in-out;
  transition: opacity 500ms ease,-webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out,opacity 500ms ease;
  transition: transform 400ms ease-in-out,opacity 500ms ease,-webkit-transform 400ms ease-in-out;
}

.navigation__application__stuffs h4 {
  font-weight: 600;
  font-family: "Lora", sans-serif;
  font-size: .75em;
  word-spacing: .25em;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
  margin-bottoM: 1em;
  color: #444;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigation__application__show__stuffs {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.navigation__application__link {
  margin-bottom: .35em;
  padding: .2em;
}

.navigation__application__link i {
  margin-right: .5em;
}

.navigation__application__link span {
  word-spacing: .15em;
}

.navigation__application__link .fa-address-book {
  margin-right: .7em;
}

.navigation__application__link:last-child {
  margin-bottom: 0;
}

/*********
Navigation when user is logged in
*********/
.navigation__user__profile__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: .75em;
  color: #7849e7;
  margin-right: .25em;
  border-left: 0.15em solid #5b5a60;
  padding-left: 1.2em;
}

.navigation__user__profile__wrapper img {
  display: inline-block;
  height: 2.8em;
  border-radius: 50%;
  border: .15em solid currentColor;
  margin-right: .75em;
}

.navigation__user__profile__wrapper:hover {
  cursor: pointer;
  opacity: .65;
}

/**************************
Application Footer
***************************/
.footer--section {
  background-color: #FFBE0B;
  padding: 2em 1.5em;
}

.footer__logo__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-bottom: 2em;
}

.footer__logo__link p {
  font-weight: 700;
  font-family: "Lora", sans-serif;
  color: #002333;
  font-style: italic;
  font-size: 1.5em;
  margin-left: .5em;
}

.footer__logo__link p span {
  color: orangered;
}

.footer__logo__image {
  height: 4.5em;
  display: block;
  -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.75));
          filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.75));
}

.footer__links__section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 1.5em;
  margin-bottom: 2em;
}

.footer__links__section h2 {
  font-family: "Lora", sans-serif;
  -webkit-text-decoration: .13em underline currentColor;
          text-decoration: .13em underline currentColor;
  text-underline-offset: .2em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__navigation__first, .footer__navigation__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__navigation__first {
  margin-right: 5em;
}

.footer__navigation__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  color: #222;
  margin: .25em 0;
  font-weight: 600;
  display: inline-block;
}

.footer__navigation__link i {
  margin-right: .5em;
}

.footer__navigation__link .fa-user-plus {
  margin-right: .35em;
}

.footer__navigation__link:hover, .footer__navigation__link:focus {
  opacity: .6;
}

.social__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.social__link {
  text-decoration: none;
  display: inline-block;
}

.social__link i {
  font-size: 1.5em;
  color: #222;
  padding: .2em;
  border-radius: 50%;
  border: .1em solid currentColor;
}

.social__link .fa-facebook-f {
  padding: .2em .4em;
}

.social__link:hover i,
.social__link:focus i {
  opacity: .75;
}

.social__link:not(.social__link:last-child) {
  margin-right: 1em;
}

.need__help__wrapper {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.15em;
  margin-bottom: 1.5em;
}

.need__help__wrapper a {
  text-decoration: none;
  color: #7849e7;
  display: inline-block;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.1em;
}

.need__help__wrapper a:hover, .need__help__wrapper a:focus {
  -webkit-text-decoration: .12em underline currentColor;
          text-decoration: .12em underline currentColor;
  text-underline-offset: .15em;
}

.copyright__wrapper h3 {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #333;
  font-size: 1.1em;
}

/***************************
MEDIA QUERIES FOR RESPONSIVE DESIGN
***************************/
@media (max-width: 480px) {
  body {
    font-size: .9em;
  }
  .navigation__application__stuffs {
    top: 4.7em;
  }
  .navigation__user__link span {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: .95em;
  }
}

@media (min-width: 769px) {
  body {
    font-size: 1.05em;
  }
  .header--section {
    padding: .8em 2em;
  }
  .footer--section {
    padding: 2.5em;
  }
  .footer__links__section {
    -ms-grid-columns: 4fr 2fr 2fr;
        grid-template-columns: 4fr 2fr 2fr;
    margin-bottom: 1.5em;
  }
  .footer__navigation__first {
    margin-right: 3.5em;
  }
}

@media (min-width: 1280px) {
  body {
    font-size: 1.1em;
  }
  .footer--section {
    padding: 2.5em 3em;
  }
}
