.form {
  border: .12em dashed #888;
  padding: 1em 1.5em;
}

.form--main {
  width: 90%;
  max-width: 640px;
  margin: 8em auto 3em;
  background-color: #fff;
  font-family: 'Poppins',sans-serif;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  padding: .45em;
}

.form legend {
  display: block;
  text-align: center;
  margin-bottom: 2em;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Lora',sans-serif;
  color: #7849e7;
  letter-spacing: .1em;
  position: relative;
}

.form legend::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 60%;
  width: 30%;
  height: .3em;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(10%, #e24725), color-stop(50%, #8353e2), to(#2c76e6));
  background-image: linear-gradient(to top right, #e24725 10%, #8353e2 50%, #2c76e6);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.form legend::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 30%;
  height: .3em;
  background-image: -webkit-gradient(linear, right bottom, left top, color-stop(10%, #e24725), color-stop(50%, #8353e2), to(#317ae7));
  background-image: linear-gradient(to top left, #e24725 10%, #8353e2 50%, #317ae7);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.form__name__group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: .5em;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1em;
}

.form__group label {
  text-transform: uppercase;
  font-weight: 500;
  color: #555;
  line-height: 1.35;
}

.form__group input {
  width: 100%;
  padding: .6em .7em;
  font-family: 'Roboto',sans-serif;
  font-size: 1em;
  font-weight: 400;
  background-color: #e8e8e8;
  border-radius: .25em;
  border: none;
  border: 0.1em solid #e8e8e8;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  outline: none;
}

.form__group input:focus {
  border-color: #acacac;
}

.form__gender__group {
  margin-bottom: .8em;
}

.form__gender__group label {
  text-transform: uppercase;
  font-weight: 500;
  color: #444;
  line-height: 1.2;
}

.form__gender__group ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: Center;
      -ms-flex-align: Center;
          align-items: Center;
  list-style-type: none;
}

.form__gender__group ul li {
  margin-right: .8em;
}

.form__gender__group ul label {
  font-family: 'Roboto',sans-serif;
  text-transform: capitalize;
  line-height: 1.6;
  color: #111;
}

.form__submit__group {
  margin-bottom: 1em;
}

.form__submit__group input[type="submit"] {
  margin-top: 1em;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#7849e7), to(#9e7ced));
  background-image: linear-gradient(to top right, #7849e7, #9e7ced);
  color: #fff;
  width: 100%;
  padding: .6em;
  font-weight: 500;
  font-family: 'Poppins',sans-serif;
  border: none;
  font-size: 1em;
  -webkit-box-shadow: 0 0 2px rgba(26, 24, 29, 0.7);
          box-shadow: 0 0 2px rgba(26, 24, 29, 0.7);
  position: relative;
  border-radius: .35em;
  -webkit-transition: -webkit-box-shadow 100ms ease-in-out;
  transition: -webkit-box-shadow 100ms ease-in-out;
  transition: box-shadow 100ms ease-in-out;
  transition: box-shadow 100ms ease-in-out, -webkit-box-shadow 100ms ease-in-out;
}

.form__submit__group input[type="submit"]:hover, .form__submit__group input[type="submit"]:focus {
  -webkit-box-shadow: 0 0 6px #1a181d;
          box-shadow: 0 0 6px #1a181d;
  cursor: pointer;
}

.form ::-webkit-input-placeholder {
  font-style: italic;
}

.form :-ms-input-placeholder {
  font-style: italic;
}

.form ::-ms-input-placeholder {
  font-style: italic;
}

.form ::placeholder {
  font-style: italic;
}

.password__field {
  position: relative;
  width: 100%;
}

.password__field i {
  position: absolute;
  right: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #333;
}

.login__link__section {
  margin-top: .5em;
}

.login__link__section a {
  text-decoration: none;
  color: #7849e7;
  font-weight: 600;
  display: inline-block;
}

.login__link__section a:hover, .login__link__section a:focus {
  -webkit-text-decoration: .12em underline currentColor;
          text-decoration: .12em underline currentColor;
  text-underline-offset: .2em;
}
