$font-primary:'Lora',sans-serif;
$font-secondary:'Poppins',sans-serif;
$font-tertiary:'Roboto',sans-serif;
@mixin flex($just,$align,$dir:row) {
    display:flex;
    justify-content:$just;
    align-items:$align;
    flex-direction:$dir;
}

:root {
    --general-color:rgb(120, 73, 231);
    --logo-color-1:hsl(199, 100%, 10%);
    --logo-color-2:orangered;
    --footer-link-color:#222;
    --warning-color:rgb(158, 0, 0);
    --info-color:rgb(0, 33, 141);
    --nav-border-color:rgb(218, 181, 255);
    --nav-heading-color:#666;
    --color-white:#fff;
    --input-color:rgb(248, 248, 248);
    --btn-color-1:rgb(177, 24, 185);
    --btn-color-2:rgb(128, 66, 199);
    --btn-hover-color-1:rgb(216, 10, 226);
    --btn-hover-color-2:rgb(109, 47, 255);
    --grad-color-1:rgb(255, 47, 0);
    --grad-color-2:rgb(131, 83, 226);
    --grad-color-3:rgb(156, 109, 250);
    --label-color:#444;
    --input-border-color:rgb(172, 172, 172);
    --btn-shadow-color:rgb(242, 0, 255);
    --h1-color:hsl(250deg, 80%, 10%);
    --h3-color:rgb(58, 50, 92);
}

html {
    scroll-behavior:smooth;
    scroll-padding-top:0;
    box-sizing:border-box;
    height:100%;
    position:relative;
}

*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing:inherit;
}

body {
    background-color: #330055;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    font:400 1em/1.6 $font-tertiary;
}

/*************************
APPLICATION HEADER
************************/
.header {
    &--section {
        background-color:var(--color-white);
        padding:.8em;
        @include flex(space-between, center);
        box-shadow:0 6px 15px rgba(0,0,0,.15);
    }
    &--fixed {
        width:100%;
        top:0;
        position:fixed;
        z-index:100;
    }
}

.logo {
    &__link {
        @include flex(flex-start, center);
        text-decoration:none;

        p {
            font-weight:700;
            font-family:$font-primary;
            font-style:italic;
            color:var(--logo-color-1);
            font-size:1.2em;
            margin-left:.5em;

            span {
                color:var(--logo-color-2);
            }
        }
    }
    &__image {
        height:3em;
        display:block;
        margin-left:.5em;
        filter:drop-shadow(0 0 3px rgba(0,0,0,.75));
    }
}

/*********
Navigation when user is not logged in
*********/
.navigation {
    &__wrapper {
        @include flex(flex-end, center);
    }

    &__link {
        display:inline-block;
        text-decoration:none;
        color:var(--general-color);
        font-size:1em;
        font-family:$font-secondary;
        font-weight:600;
        text-transform:uppercase;
        letter-spacing:.06em;

        &:hover,
        &:focus {
            opacity:.65;
        }
    }

    &__home__link {
        padding:.25em .4em;
        margin-right:.25em;

        i {
            font-size:1.3em;
        }
    }
    &__user__wrapper {
        padding:0 .55em;
        border-right:2px solid var(--nav-border-color);
        border-left:2px solid var(--nav-border-color);
    }
    &__user__link {    
        padding:.25em .3em;
    }
    &__user__link:first-child {
        margin-right:.25em;
    }

    &__about__btn {
        padding:.25em;
        margin-left:.75em;
        background-color:transparent;
        border:none;
        font-size:1em;
        letter-spacing:.06em;
        font-weight:600;
        font-family:$font-secondary;
        color:var(--general-color);
    
        span {
            text-transform:uppercase;
            margin-right:.25em;
        }
        &:hover {
            opacity:.75;
            cursor:pointer;
        }
    }

    &__application__stuffs {
        top:4.6em;
        right:0;
        position:fixed;
        background-color:var(--color-white);
        @include flex(center,flex-start,column);
        padding:1em 1.5em;
        border-top:2px solid var(--nav-border-color);
        border-bottom-left-radius:.25em;
        border-bottom-right-radius:.25em;
        box-shadow:-8px 8px 15px rgba(0,0,0,.25);
        transform:translateX(20em);
        opacity:0;
        transition:transform 400ms ease-in-out,opacity 500ms ease;
    

        h4 {
            font-weight:700;
            font-family:'Nunito',sans-serif;
            font-size:.75em;
            word-spacing:.25em;
            letter-spacing:.06em;
            text-transform:uppercase;
            border-bottom:1px solid var(--nav-heading-color);
            margin-bottoM:1em;
            color:var(--nav-heading-color);
            align-self:center;
        }
    }
    &__application__show__stuffs {
        transform:translateX(0);
        opacity:1;

    }
    &__application__link {
        margin-bottom:.35em;
        padding:.2em;
        letter-spacing:.06em;
        
        i {
            margin-right:.5em;
        }
        span {
            word-spacing:.15em;
        }
        .fa-address-book {
            margin-right:.7em;
        }
    }
    &__application__link:last-child {
        margin-bottom:0;
    }
}

/*********
Navigation when user is logged in
*********/
.navigation {
    &__user__profile__wrapper {
        @include flex(center,center);
        margin-left:.75em;
        color:var(--general-color);
        margin-right:.25em;
        border-left:2px solid var(--nav-border-color);
        padding-left:1.2em;

        img {
            display:inline-block;
            height:2.8em;
            border-radius:50%;
            border:.15em solid currentColor;
            margin-right:.75em;
            
        }
        &:hover {
            cursor:pointer;
            opacity:.65;
        }
    }

}

/**************************
LINK TO REACH ON TOP OF PAGE
**************************/
// .top__section__link {
//     &__container {
//         position:fixed;
//         bottom:1em;
//         right:2em;
//         background-color:rgba(255,255,255,.85);
//         box-shadow:0 0 10px rgba(0,0,0,.7);
//         border-radius:50%;
//     }
//     display:inline-block;
//     padding:.45em .8em;
//     font-size:1.5em;
//     color:var(--general-color);
// }




/**************************
APPLICATION FOOTER
***************************/ 
.footer {
    &--section {
        // background-color:#ffe02d;
        background-color:#cdfff6;
        padding:2em 1.5em;
    }
    
    &__logo {

        &__link {
            display:inline-flex;
            justify-content:flex-start;
            align-items:center;
            text-decoration:none;
            margin-bottom:2em;
    
            p {
                font-weight:700;
                font-family:$font-primary;
                color:var(--logo-color-1);
                font-style:italic;
                font-size:1.5em;
                margin-left:.5em;
    
                span {
                    color:var(--logo-color-2);
                }
            }
        }
        &__image {
            height:4.5em;
            display:block;
            filter:drop-shadow(0 0 3px rgba(0,0,0,.75));
        }
    }

    &__links__section {
        display:grid;
        grid-template-columns:1fr;
        grid-row-gap:1.5em;
        margin-bottom:2em;

        h2 {
            font-family:$font-primary;
            text-decoration:.13em underline currentColor;
            text-underline-offset:.2em;
            margin-bottom:1em;
            text-transform:uppercase;
        }
    }

    &__navigation {
        @include flex(flex-start,flex-start);
    }

    &__navigation__first,
    &__navigation__second {
        @include flex(center,flex-start,column);
    }

    &__navigation__first {
        margin-right:5em;
    }

    &__navigation__link {
        text-decoration:none;
        text-transform:uppercase;
        font-family:$font-secondary;
        font-size:1em;
        color:var(--footer-link-color);
        margin:.25em 0;
        font-weight:600;
        letter-spacing:.06em;
        display:inline-block;

        i {
            margin-right:.5em;
        }

        .fa-user-plus {
            margin-right:.35em;
        }

        &:hover,
        &:focus {
            opacity:.6;
        }
    }
}
.social {
    &__wrapper {
        @include flex(flex-start,center);
    }
    &__link {
        text-decoration:none;
        display:inline-block;

        i {
            font-size:1.5em;
            color:var(--footer-link-color);
            padding:.2em;
            border-radius:50%;
            border:.1em solid currentColor;
        }
        .fa-facebook-f {
            padding:.2em .4em;
        }

        &:hover i,
        &:focus i {
            opacity:.75;
        }
    }
    &__link:not(.social__link:last-child) {
        margin-right:1em;
    }
}

.need__help__wrapper {
    font-family:$font-secondary;
    font-weight:500;
    font-size:1.15em;
    margin-bottom:1.5em;

    a {
        text-decoration:none;
        color:var(--general-color);
        display:inline-block;
        font-family:$font-primary;
        font-weight:700;
        font-style:italic;
        font-size:1.1em;

        &:hover,
        &:focus {
            text-decoration:.12em underline currentColor;
            text-underline-offset:.15em;
        }
    }
}

.copyright__wrapper {
    h3 {
        font-weight:500;
        font-family:$font-secondary;
        color:#333;
        font-size:1.1em;
        text-align:center;
    }
}


/***************************
MESSAGE STYLING
***************************/
.msg {
    &--wrapper {
        position:absolute;
        top:4.7em;
        left:0;
        right:0;
        font-family:$font-secondary;
    }
    &--container {
        padding:.35em 1em;
        text-align:center;
    }
    &--warning--container {
        background-color:rgba(255, 181, 181, 0.7);
    }
    &--info--container {
        background-color:rgba(197, 186, 255, 0.7);
    }
    font-size:1.1em;
    font-weight:500;

    &__hide__btn {
        background-color:transparent;
        display:inline-block;
        margin-left:.5em;
        border:none;
        font-size:1.4em;
        font-weight:500;
        font-family:$font-secondary;
        padding:.2em; 

        &:hover,
        &:focus {
            cursor:pointer;
        }
    }
}
.warning__msg {
    color:var(--warning-color);
}
.info__msg {
    color:var(--info-color);
}
.warning__hide__btn {
    color:var(--warning-color);
}
.info__hide__btn {
    color:var(--info-color);
}












/***************************
MEDIA QUERIES FOR RESPONSIVE DESIGN
***************************/

@media (max-width:480px) {
    body {
        font-size:.9em;
    }
    .navigation__application__stuffs {
       top:4.7em;
    }
    .navigation__user__link {
        span {
            display:none;
        }
    }
}

@media (min-width:481px) and (max-width:768px) {
    body {
        font-size:.95em;
    }
}

@media (min-width:769px) {
    body {
        font-size:1.05em;
    }
    .header--section {
        padding:.8em 2em;
    }
    .footer--section {
        padding:2.5em;
    }
    .footer__links__section {
        grid-template-columns:4fr 2fr 2fr;
        margin-bottom:1.5em;
    }
    .footer__navigation__first{
        margin-right:3.5em
    }
}

@media (min-width:1280px) {
    body {
        font-size:1.1em;
    }
    .footer--section {
        padding:2.5em 3em;
    }
}

