@mixin flex($just,$align,$dir:row) {
    display:flex;
    justify-content:$just;
    align-items:$align;
    flex-direction:$dir;
}
/************************
PROFILE SUB SECTION 2
*************************/
.profile {
    &--main--container {
        width:100%;
        max-width:840px;
        margin:0 auto;
        background-color:var(--home-logged-bg);
        font-family:'Poppins',sans-serif;
        
    }

    &__sub__container__one {
        @include flex(flex-start,center,column);
    }

    &__header__img__container {
        width:100%;
        height:20em;

        img {
            width:100%;
            height:100%;
            display:block;
            object-fit:cover;
        }
    }
    &__avatar__img__container {
        position:relative;

        .avatar__container {
            text-align:Center;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);

            h2 {
                font-family:'Nunito',sans-serif;
                color:var(--h1-color);
                line-height:1.1;
            }
            p {
                color:var(--general-color);
                padding-bottom:1em;
            }
        }
    }
    &__navigation {
        top:3.5em;
        right:-13em;
        position:absolute;
        background-color:var(--color-white);
        @include flex(center,flex-start,column);
        padding:1.5em .75em;
        box-shadow:0 0 5px rgba(0,0,0,.35);
        border-radius:.5em;
    }
    &__navigation__hidden {
        display:none;
    }
    &__navigation__link {
        margin-bottom:.4em;
        padding:.2em .1em;
        letter-spacing:.03em;
        display:inline-block;
        text-decoration:none;
        color:var(--general-color);
        font-size:1em;
        font-weight:600;
        text-transform:uppercase;

        &:hover,
        &:focus {
            opacity:.65;
        }

        i {
            margin-right:.2em;
        }
    }
    &__navigation__link:last-child {
        margin-bottom:0;
    }
}

.avatar__container a {
    height:11em;
    width:11em;
    display:inline-block;
    text-decoration:none;
    border-radius:50%;
    border:5px solid var(--color-white);
    background-color:var(--color-white);
    box-shadow:0 0 6px rgba(0,0,0,.3);

    img {
        width:100%;
        height:100%;
        display:block;
        object-fit:cover;
        border-radius:50%;
    }
}
.profile__btn {
    position:absolute;
    top:1em;
    right:-7.5em;
    background-color:transparent;
    outline:none;
    border:none;
    border-radius:.35em;

    i {
        font-size:1.5em;
        padding:.25em .35em;
        color:var(--general-color);
        // background-color:rgb(248, 237, 255);
    }
    &:hover i{
        background-color:rgb(234, 230, 255);
        cursor:pointer;
    }
}


/***************************
PROFILE SUB CONTAINER TWO
***************************/
.profile__sub__container__two {
    margin-top:7em;
    display:grid;
    grid-template-columns:1fr;
    grid-row-gap:.75em;
    padding:3em 2em;
    color:var(--profile-para-color);
    background-color:var(--color-white);

    i {
        margin-right:.5em;
    }
}
.join__date__container {
    color:rgb(63, 58, 67);
}
.follow__details__container {
    @include flex(flex-start,flex-start);

    .followers__btn {
        margin-right:1em;
    }
    a {
        color:var(--h1-color);
        text-decoration:none;
        display:block;
        font-weight:700;
        font-size:1em;

        &:hover,
        &:focus {
            opacity:.7;
            cursor:pointer;
        }
    }
}

/**************************
PROFILE USER POSTS SECTION
*************************/
.profile__user__posts {
    &__container {
        padding:2em 0;
    }

    max-width:540px;
    width:90%;
    margin:0 auto;
    display:grid;
    grid-template-columns:1fr;
    grid-row-gap:2em;

    article {
        width:100%;
        background-color:var(--color-white);
        box-shadow:0 0 15px rgba(0,0,0,.15);
        border-radius:.5em;
        display:grid;
        grid-template-columns:1fr;

        &:hover{
            box-shadow:0 0 20px rgba(0,0,0,.35);
        }
    }
}



.post {
    &__header {
        @include flex(space-between, flex-start);
        padding:1em;
    }

/***************************
POST AUTHOR RELATED STYLING
***************************/    
    &__author__container {
        @include flex(flex-start,flex-start);
    }
    &__author__img__wrapper {

        a {
            text-decoration:none;
            display:block;
            margin-right:.6em;
            width:3em;
            height:3em;
            border-radius:50%;
        }
        img {
            width:100%;
            height:100%;
            object-fit:cover;
            display:block;
            border-radius:50%;
            border:2px solid var(--general-color);
        }
    }
    &__author__name__container {
        div {
            @include flex(flex-start,flex-start);
            a {
                text-decoration:none;
                display:block;
            }
        }
        .author__name {
            font-size:.9em;
            color:var(--h1-color);
            line-height:1.3;
        
            &:hover,
            &:focus {
                opacity:.65;
            }
        }
        span {
            line-height:1.2;
            font-size:.75em;
            display:block;
            color:rgb(99, 97, 102);
            font-weight:600;
        }
    }

/****************************
POST BUTTONS RELATED STYLING
*****************************/
    &__related__btn__links__container {
        position:relative;

        .sideNavShowBtn,
        .sideNavHideBtn {
            background:transparent;
            border:none;
            cursor:pointer;

            i {
                padding:.15em;
            }
        }
        
        div {
            @include flex(center, flex-start,column);
            position:absolute;
            top:-1em;
            right:-1em;
            width:8em;
            background-color:rgb(243, 236, 255);
            padding:2em .75em 1em;
            clip-path:polygon(var(--x, 100%) 0,100% 0,100% 100%,var(--x,100%) 100%);
            transition:clip-path 200ms ease-in-out;

            a {
                font-size:.9em;
                text-decoration:none;
                display:block;
                color:var(--general-color);

                i {
                    margin-right:.2em;
                }

                &:hover,
                &:focus {
                    opacity:.7;
                    cursor:pointer;
                }
            }

            > a  {
                margin-bottom:.25em;
            }

            .sideNavHideBtn {
                position:absolute;
                top:.75em;
                right:1em;
            }
        }
    }
}

.show__post__sidenav {
    --x:0;
}

/***************************
POST ASSETS
***************************/
.post {
    &__content__container {
        padding:0 1em;

        a {
            text-decoration:none;
            display:block;
            color:#333;
            font-family:'Nunito',sans-serif;
            line-height:1.5;
            font-size:1em;
            margin-bottom:.5em;
        }
    }
    &__image__container {

    a {
        text-decoration:none;
        display:block;
    }
    img {
        width:100%;
        display:block; 
        }
    }
}

/************************
LIKE AND COMMENT BTNS
*************************/
.post__footer {
    border-top:1px solid var(--input-border-color);
    padding:.5em;
    @include flex(space-around, center);
}
.heart__btn,
.comment__btn {
    text-decoration:none;
    display:block;
    color:rgb(63, 61, 79);
    border:none;
    background-color:transparent;
    font-size:1.5em;
    cursor:pointer;

    span {
        font-size:.85em;
    }
}

.heart__btn__active {
    color:var(--grad-color-1);
}

/**************************
MINOR STYLING FOR PAGINATION
**************************/
.pagination__section {
    padding:0 1em 2em 0;
    max-width:840px;
}
















/***********************
MEDIA QUERIES
************************/
@media (min-width:720px) {
    .profile__btn {
        right:-8.5em;
    }
}