{% extends 'others/layout.html' %}
{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static', filename='css/completePost.css')}}">
{% endblock stylesheet %}

{% block body %}
<main class="complete--post--container">

    <article>

        <section class="post__header">

            <div class="post__author__container">

                <div class="post__author__img__wrapper">
                    <a href="{{url_for('usersbp.user_profile',user_id=post.author.id)}}" class="img__link" title='Post Author'>
                        <img src="{{url_for('static',filename='user-images/'+post.author.profile_pic)}}" alt="">
                    </a>
                </div>

                <div class="post__author__name__container">
                    <div>
                        <a href="{{url_for('usersbp.user_profile',user_id=post.author.id)}}" class="author__name" title='Post Author'>{{post.author.firstname}}</a>
                        {% if post.author == current_user %}
                        <p class="current__user__label">You</p>
                        {% endif %}
                    </div>

                    <span>{{post.postDate.strftime('%I:%M %p')}}&nbsp;&nbsp;{{post.postDate.strftime(' %d %b %y')}}</span>
                </div>

            </div>

            {% if post.author == current_user %}
            <div class="post__related__btn__links__container">

                <button class="sideNavShowBtn">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                
                <div class="post__related__btn__links">
                
                    <button class="sideNavHideBtn">
                        <i class="fas fa-times"></i>
                    </button>
                    
                    <a href="{{url_for('postsbp.edit_post',post_id=post.id)}}" title='Edit Post'>
                        <i class="fas fa-edit"></i>
                        <span>Edit Post</span>
                    </a>

                    <a href="{{url_for('postsbp.delete_post',post_id=post.id)}}" title='Delete Post'>
                        <i class="fas fa-trash"></i>
                        <span>Delete Post</span>
                    </a>

                </div>

            </div>
            {% endif %}

        </section>

        <section class="post__body">

            <div class="post__content__container">
                <p>
                    {{post.content}}
                </p>
            </div>

            {% if post.postImage %}
            <div class="post__image__container">
                <img src="{{url_for('static',filename='user-images/'+post.postImage)}}" alt="Post Image">
            </div>
            {% endif %}

        </section>

        <section class="post__footer">

            {% if current_user.has_liked(post) %}
            <button class="heart__btn heart__btn__active" data-postid = {{post.id}}>
                <i class="fas fa-heart"></i>

            {% else %}   
            <button class="heart__btn" data-postid = {{post.id}}>
                <i class="far fa-heart"></i>
            {% endif %}

                <span style="color:rgb(63, 61, 79)">{{post.likes.count()}}</span>
            </button>

            <button class="comment__btn" title='Comment'>
                <i class="far fa-comment"></i>
                <span>{{post.comments.count()}}</span>
            </button>

        </section>


        <section class="comments__container">

            <!-------------- Current User Comment Form --------------->
            <div class="current__user__comment__container">

                <div class="current__user__avatar">
                    <img src="{{url_for('static',filename='user-images/'+current_user.profile_pic)}}" alt="Your Profile Picture">
                </div>

                <form class="comment__form" method="POST" autocomplete="off">
                    {{form.hidden_tag()}}
                    {{form.body(placeholder="Write your comment", spellcheck="false")}}
                    <span></span>
                    {{form.submit}}
                </form>

            </div>

            <!-------------------- All Comments ----------------------->
            <div class="user__comments__container">

                {% for comment in comments %}
                <div class="user__comment__wrapper">

                    <div class="commented__user__section">

                        <div class="user__info__section">
                            <div class="user__image__wrapper">
                                <img src="{{url_for('static',filename='user-images/'+comment.commented_user.profile_pic)}}" alt="Commentor">
                            </div>

                            <div class="commented__user__info">
                                <a href="{{url_for('usersbp.user_profile', user_id=comment.commenter_id)}}">{{comment.commented_user.firstname}}</a>
                                <span>{{comment.timestamp.strftime('%d %b %Y')}}</span>
                            </div>
                        </div>
                        
                        
                        {% if current_user == comment.commented_user or current_user == post.author %} 
                        <div class="comment__control__btns">

                            <form method="post" action="{{url_for('postsbp.delete_comment', comment_id=comment.id)}}">
                                <button type="submit" title="delete Comment" class="delete__comment__btn">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
        
                        </div>
                        {% endif %}
                        
                    </div>

                    <div class="commented__text">
                        <p>{{comment.body}}</p>
                    </div>

                </div>
                {% endfor %}

            </div>

        </section>

    </article>


</main>
<!-- _________________________________________ -->

{% endblock body %}

{% block script %}
<script src="{{url_for('static', filename='minjs/layoutHome.js')}}"></script>

<script>

    const commentField = document.querySelector('.comment__form textarea');
    const commentForm = document.querySelector('.comment__form');
    const commentsContainer = document.querySelector('.user__comments__container');
    const totalComments = document.querySelector('.comment__btn span');
    const error = document.querySelector('.comment__form span');


    commentForm.addEventListener('submit', e => {
        e.preventDefault();

        if(commentField.value.length > 2000) {
            error.textContent = 'Upto 2000 characters are allowed';
            return;
        }

        fetch('{{url_for("postsbp.complete_post", post_id=post.id)}}', {
            headers : {
                'Content-Type': 'application/json'
            },
            method : 'POST',
            body : JSON.stringify({
                'comment_text': commentField.value
            })  
        })
        .then(res => {

            if(res.status >= 200 && res.status < 400) {
                res.json()
                .then(res => {

                    const html = `<div class="user__comment__wrapper"><div class="commented__user__section"><div class="user__info__section"><div class="user__image__wrapper">
                                <img src="../../static/user-images/${res.commenter_avatar}" alt="Commentor"></div><div class="commented__user__info">
                                <a href="/user_profile/${res.commenter_id}">${res.firstname}</a><span>${res.time}</span></div></div><div class="comment__control__btns">
                                <form method="post" action="/delete_comment/${res.comment_id}"><button type="submit" title="delete Comment" class="delete__comment__btn">
                                <i class="fas fa-trash"></i></button></form></div></div><div class="commented__text"><p>${res.comment_body}</p></div></div>`;
                    
                    commentsContainer.insertAdjacentHTML('afterbegin', html);
                    totalComments.textContent = res.total_comments;
                    commentField.value = '';
                });
            }
            else {
                throw Error('Something went wrong');
            }
        })
    });

</script>
{% endblock script %}
