{% extends 'others/layout.html' %}
{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static', filename='css/profile.min.css')}}">
{% endblock stylesheet %}

{% block body %}
<main class="profile--main--container">

    <!-- __________________________User Profile pictures_____________________________ -->
    <section class="profile__sub__container__one">

        <div class="profile__header__img__container">
            <img src="../static/user-images/header.jpg" alt="Profile Header Image" class="header__img">
        </div>

        <div class="profile__avatar__img__container">

            <div class="avatar__container">
                <div>
                    <img src="../static/user-images/default.png" alt="Profile Avater" class="avatar">
                </div>
                <h2>{{current_user.firstname}}</h2>
                <p>@{{current_user.username}}</p>
            </div>

            <button class="profile__btn">
                <i class="fas fa-ellipsis-v"></i>
            </button>

            <nav class="profile__navigation profile__navigation__hidden">
                <a href="{{url_for('settings')}}" class="profile__navigation__link">
                    <i class="fas fa-edit"></i>
                    <span>Edit Profile</span>
                </a>
                <a href="" class="profile__navigation__link">
                    <i class="fas fa-tshirt"></i>
                    <span>Avatar</span>
                </a>
                <a href="" class="profile__navigation__link">
                    <i class="fas fa-plus-circle"></i>
                    <span>CREATE POST</span>
                </a>
            </nav>

        </div>


    </section>
    <!-- ______________________________________________ -->


    <!-- ______________________________ User Info section__________________________________ -->
    <section class="profile__sub__container__two">
        {% if current_user.about_user %}
        <p class="about_user">{{current_user.about_user}}</p>
        {% endif %}

        <div class="join__date__container">
            <i class="fas fa-calendar-alt"></i>
            <span>Joined on Sep 2019</span>
        </div>

        {% if current_user.address %}
        <div class="location__container">
            <i class="fas fa-map-marker-alt"></i>
            <span>{{current_user.address}}</span>
        </div>
        {% endif %}
        
        <div class="email__container">
            <i class="fas fa-envelope"></i>
            <span>{{current_user.email}}</span>
        </div>

        <div class="follow__details__container">
            <h4>270 Followers</h4>
            <h4>40 Following</h4>
        </div>

    </section>
    <!-- ______________________________________________ -->


</main>
{% endblock body %}

{% block script %}
<script>

    /*---------------------------------
    Functionality related with hiding or showing the profile navigation
    ----------------------------------*/ 
    const profileBtn = document.querySelector('.profile__btn');
    const profileNavigation = document.querySelector('.profile__navigation');

    profileBtn.addEventListener('click', () => {
        profileNavigation.classList.toggle('profile__navigation__hidden');
    });


</script>
{% endblock %}