{% extends 'others/layout.html' %}
{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static',filename='css/requestreset.min.css')}}">
{% endblock stylesheet %}

{% block body %}
<main class="form--main">

    <form method="post" class="form" autocomplete="off">
        {{form.hidden_tag()}}

        <legend>Request Password</legend>

        <div class="form__group">
            {{form.email.label}}
            {{form.email(placeholder="Enter Email Address")}}
            {% if form.email.errors %}
            {% for error in form.email.errors %}
            <span>{{error}}</span>
            {% endfor %}
            {% endif %}
        </div>

        <div class="form__submit__group">
            {{form.submit}}
        </div>

    </form>
   

</main>
{% endblock body %}