{% extends 'others/layout.html' %}
{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static', filename='css/resetpassword.css')}}">
{% endblock stylesheet %}

{% block body %}
<main class="form--main">

    <form method="post" class="form" autocomplete="off">
        {{form.hidden_tag()}}

        <legend>Reset Password</legend>

        <div class="form__group">
            {{form.password.label}} 
            {{form.password(placeholder="Enter a new password")}}
            {% if form.password.errors %}
            {% for error in form.password.errors %}
            <span>{{error}}</span>
            {% endfor %}
            {% endif %}
        </div>

        <div class="form__group">
            {{form.reenter_password.label}}
            {{form.reenter_password(placeholder="Reenter the password")}}
            {% if form.reenter_password.errors %}
            {% for error in form.reenter_password.errors %}
            <span>{{error}}</span>
            {% endfor %}
            {% endif %}
        </div>

        <div class="form__submit__group">
            {{form.submit}}
        </div>

    </form>
   

</main>
{% endblock %}

{% block script %}
 <script src="{{url_for('static', filename='minjs/layout.js')}}"></script>
{% endblock %}
